In [1]:
import pandas as pd
import scipy
import numpy as np
import matplotlib.pyplot as plt 
from scipy import stats
import seaborn as sns

# Q7)Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &     comment about the values / draw inferences, for the given dataset

In [2]:
df = pd.read_csv("Q7.csv")

In [3]:
df

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [4]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [5]:
df['Points'].mode()

0    3.07
1    3.92
dtype: float64

In [6]:
df['Score'].mode()

0    3.44
dtype: float64

In [7]:
df['Weigh'].mode()

0    17.02
1    18.90
dtype: float64

In [12]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [20]:
df.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [18]:
df.max()

Unnamed: 0    Volvo 142E
Points              4.93
Score              5.424
Weigh               22.9
dtype: object

In [19]:
df.min()

Unnamed: 0    AMC Javelin
Points               2.76
Score               1.513
Weigh                14.5
dtype: object

# Q9)(a)Calculate Skewness, Kurtosis & draw inferences on the following data Cars speed and distance

In [21]:
d1 = pd.read_csv('Q9_a.csv')

In [23]:
d1

    Index  speed  dist
0       1      4     2
1       2      4    10
2       3      7     4
3       4      7    22
4       5      8    16
5       6      9    10
6       7     10    18
7       8     10    26
8       9     10    34
9      10     11    17
10     11     11    28
11     12     12    14
12     13     12    20
13     14     12    24
14     15     12    28
15     16     13    26
16     17     13    34
17     18     13    34
18     19     13    46
19     20     14    26
20     21     14    36
21     22     14    60
22     23     14    80
23     24     15    20
24     25     15    26
25     26     15    54
26     27     16    32
27     28     16    40
28     29     17    32
29     30     17    40
30     31     17    50
31     32     18    42
32     33     18    56
33     34     18    76
34     35     18    84
35     36     19    36
36     37     19    46
37     38     19    68
38     39     20    32
39     40     20    48
40     41     20    52
41     42     20    56
42     43     20    64
43     44     22    66
44     45     23    54
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [24]:
d1['speed'].skew()

-0.11750986144663393

In [25]:
d1['speed'].kurt()

-0.5089944204057617

In [27]:
d1['dist'].skew()

0.8068949601674215

In [28]:
d1['dist'].kurt()

0.4050525816795765

In [29]:
d2= pd.read_csv('Q9_b.csv')

In [30]:
d2

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
5            6  113.185353  29.591768
6            7  105.461264  30.308480
7            8  102.598513  15.847758
8            9  102.598513  16.359484
9           10  115.645204  30.920154
10          11  111.185353  29.363341
11          12  117.598513  15.753535
12          13  122.105055  32.813592
13          14  111.185353  29.378436
14          15  108.185353  29.347279
15          16  111.185353  29.604527
16          17  114.369293  29.535784
17          18  117.598513  16.194122
18          19  114.369293  29.929394
19          20  118.472936  33.516974
20          21  119.105055  32.324650
21          22  110.840817  34.908211
22          23  120.288996  32.675828
23          24  113.829145  31.837122
24          25  119.185353  28.781728
25          26  114.598513  16.043175
26          27  120.760520  38.062823
27          28  119.105055  32.835069
28          29   99.564907  34.483207
29          30  121.840817  35.549360
..         ...         ...        ...
51          52  118.288996  33.436711
52          53  120.404312  40.398164
53          54  143.392639  37.620695
54          55  135.392639  37.254392
55          56  126.404312  40.589068
56          57  110.461264  30.147543
57          58  118.288996  32.734518
58          59  112.645204  30.615283
59          60  115.576579  37.662874
60          61  130.208698  36.888153
61          62  117.668550  37.860411
62          63  126.048103  43.390988
63          64  125.312342  40.722831
64          65  128.128401  40.159482
65          66  126.598513  15.712859
66          67  132.484609  37.979956
67          68  133.680223  41.573975
68          69  133.312342  40.472042
69          70  158.300669  37.141733
70          71  164.598513  15.823060
71          72  133.415985  44.013139
72          73  133.140074  43.353123
73          74  124.715241  52.997752
74          75  121.864163  42.618698
75          76  132.864163  42.778219
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [31]:
d2['SP'].skew()

1.6114501961773555

In [32]:
d2['SP'].kurt()

2.9773289437871764

In [33]:
d2['WT'].skew()

-0.6147533255357768

In [34]:
d2['WT'].kurt()

0.9502914910300326

# Q11)  Suppose we want to estimate the average weight of an adult male in    Mexico. We draw a random sample of 2,000 men from a population of 3,000,000 men and weigh them. We find that the average person in our sample weighs 200 pounds, and the standard deviation of the sample is 30 pounds. Calculate 94%,98%,96% confidence interval?

In [76]:
 stats. t .interval(0.94,2000,200,30)

(143.54417173267188, 256.4558282673281)

In [77]:
 stats. t .interval(0.98,2000,200,30)

(130.1535847418068, 269.8464152581932)

In [78]:
 stats. t .interval(0.96,2000,200,30)

(138.34732124381935, 261.65267875618065)

# Q12)  Below are the scores obtained by a student in tests 
# 34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56
# 1)	Find mean, median, variance, standard deviation.
# 2)	What can we say about the student marks?

In [43]:
data = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]

In [48]:
data_script = pd.DataFrame(data)

In [49]:
data_script

     0
0   34
1   36
2   36
3   38
4   38
5   39
6   39
7   40
8   40
9   41
10  41
11  41
12  41
13  42
14  42
15  45
16  49
17  56

In [50]:
data_script.mean()

0    41.0
dtype: float64

In [51]:
data_script.median()

0    40.5
dtype: float64

In [53]:
data_script.var()

0    25.529412
dtype: float64

In [54]:
data_script.std()

0    5.052664
dtype: float64

# Q 20) Calculate probability from the given dataset for the below cases

 
Calculate the probability of MPG  of Cars for the below cases.
       MPG <- Cars$MPG
a.	P(MPG>38)
b.	P(MPG<40)
c.    P (20<MPG<50)

In [55]:
data1 = pd.read_csv('Cars.csv')

In [56]:
data1.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

# P(MPG>38)

In [59]:
1-stats.norm.cdf(38,data1.MPG.mean(),data1.MPG.std())

0.3475939251582705

# 	P(MPG<40)

In [60]:
stats.norm.cdf(40,data1.MPG.mean(),data1.MPG.std())

0.7293498762151616

# P (20<MPG<50)

In [61]:
stats.norm.cdf(50,data1.MPG.mean(),data1.MPG.std())-stats.norm.cdf(20,data1.MPG.mean(),data1.MPG.std())

0.8988689169682046

# Q 21) Check whether the data follows normal distribution
# a)	Check whether the MPG of Cars follows Normal Distribution

In [63]:
data1[['MPG']]

          MPG
0   53.700681
1   50.013401
2   50.013401
3   45.696322
4   50.504232
5   45.696322
6   50.013401
7   46.716554
8   46.716554
9   42.299078
10  44.652834
11  39.354094
12  39.354094
13  44.652834
14  45.734893
15  44.652834
16  42.789909
17  39.354094
18  42.789909
19  38.901834
20  38.411003
21  42.828479
22  38.310606
23  40.474723
24  38.310606
25  38.411003
26  38.411003
27  38.411003
28  43.469434
29  35.404192
..        ...
51  29.629936
52  29.629936
53  24.487367
54  26.852279
55  27.856252
56  31.113584
57  29.629936
58  30.131923
59  28.860225
60  27.354265
61  24.609132
62  23.515917
63  23.515917
64  23.605158
65  40.050000
66  23.103172
67  23.103172
68  23.103172
69  21.273708
70  19.678507
71  23.203569
72  23.203569
73  19.086341
74  19.086341
75  18.762837
76  36.900000
77  19.197888
78  34.000000
79  19.833733
80  12.101263

[81 rows x 1 columns]

In [64]:
data1.MPG.mean()

34.422075728024666

In [66]:
data1.MPG.median()

35.15272697

In [67]:
data1.MPG.mode()

0    29.629936
dtype: float64

# b)	Check Whether the Adipose Tissue (AT) and Waist Circumference(Waist)  from wc-at data set  follows Normal Distribution

In [68]:
data2 = pd.read_csv('wc-at.csv')

In [69]:
data2.head()

   Waist     AT
0  74.75  25.72
1  72.60  25.89
2  81.80  42.60
3  83.95  42.80
4  74.65  29.84

In [70]:
data2.Waist.mean()

91.90183486238533

In [71]:
data2.Waist.mode()

0     94.5
1    106.0
2    108.5
dtype: float64

In [72]:
data2.Waist.median()

90.8

In [73]:
data2.AT.mean()

101.89403669724771

In [74]:
data2.AT.median()

96.54

In [75]:
data2.AT.mode()

0    121.0
1    123.0
dtype: float64

# Q 24)   A Government  company claims that an average light bulb lasts 270 days. A researcher randomly selects 18 bulbs for testing. The sampled bulbs last an average of 260 days, with a standard deviation of 90 days. If the CEO's claim were true, what is the probability that 18 randomly selected bulbs would have an average life of no more than 260 days

In [79]:
t = (260-270)/(90/(pow(18,0.5)))

In [80]:
t

-0.4714045207910317

In [81]:
stats.t.cdf(t,df=17)

0.32167253567098364